.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary);
    width: 100%;
    background-color: var(--foreground);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.search-container {
    display: flex;
    width: 40%;

}



.search-text {
    width: 100%;
    height: 95%;
    outline: transparent;
    border: none;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    caret-color: black;
}



.issue-buttons-container {
    display: flex;
}

.navbar-button {
    outline: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    background: #e14eca;
    background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    background-size: 210% 210%;
    background-position: 100% 0;
    background-color: #e14eca;
    font-weight: 600;
    transition:all .5s;
}

.white-left-border {
    border-left:1px solid white
}

.left-radius {
    border-top-left-radius: 10px;
}

.right-radius {
    border-top-right-radius:10px;
}

.navbar-button:hover {
    cursor: pointer;

}

.badge {
    position: relative;
    text-align: center;
    display: inline-block;
    top: -12px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    font-weight:600;
}

.red {
    color: var(--danger);
}

.blue {
    color: var(--info);
}

.navbar-icon {
    vertical-align: middle;
}

@media(max-width:700px) {
    .search-container {
        width: 97%;
        margin-bottom: 10px;
    }
    .search-text {
        border: 1px solid lightgrey;
        border-radius: 10px;
        margin-left:10px;
        height:30px;
        position:relative;
        top:20%;
    }

}