@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    caret-color: transparent;
}

body {
    background-color: rgba(0, 128, 128, 10%);
}

.main-container {
    border: 1px solid lightgrey;
    border-radius: 10px;
    width:90%;
    height:690px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


